<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notesnest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/header_img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/header_img"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesNest">
        <activity
            android:name=".uploadnotes.PDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".uploadnotes.DisplayUploadsActivity"
            android:exported="false" />
        <activity
            android:name=".createnotes.NewNoteActivity"
            android:exported="false" />
        <activity
            android:name=".createnotes.DisplayNotesActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.NotesNest.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>